body {
  margin: 0;
  height: 100vh;
  position: relative;
}

#box_id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  background-color: lightblue;
  border: 2px solid black;
}

#box_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: purple;
  margin: 0;
}
}